*{padding: 0;
    margin: 0;}

    .container {
        width: 1200px;
        margin: 0 auto;}

.header {width: 100%;
    height: 27px; 
}
.header.div {width: 100%;
    height: inherit;
display:flex;
justify-content: space-between;
align-items: center; }

.list {list-style: none;
padding-left: 0px;
margin-bottom: 0px;}

.list li {
    display: inline-block;
    padding: 30px;
    padding-top: 40px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 18px;
letter-spacing: 2.7px;
text-transform: uppercase;
color: #FF0000;

    
}
.list li a {
    text-decoration: none;
    padding-left: 300px;
    text-align: center; 
}


.image {height: 100%;
    width: 100%;
margin-top: 78px;
/*width: 1280px;*/}



.bigtext {font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color:#373737;
    margin-top: 48px;
    text-align:center;}



.firstmaintext {font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin-top: 38px;
    margin-left: 68px;
    margin-right: 68px;
}

.secondmaintext {font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin-top: 28px;
    margin-left: 68px;
    margin-right: 68px;
    margin-bottom: 59px;
}

.button {
    width: 191px;
    height: 51px;
    position: absolute;
    background: #FF0000;
    border-radius: 4px;
    margin-bottom: 82px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 12px;
letter-spacing: 1.8px;
color: #FFFFFF;
border: 2px white;
margin-bottom: 0px;
margin-left: 500px;
}

.footer {
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
letter-spacing: 2.4px;

color: #373737;
margin-top: 182px;
margin-right: 105px;
margin-bottom: 20px;
text-align: right;
}